/*- Custom style -*/

// -- Put custom style under this point -- //
pre {
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	padding: 1em;
	white-space: pre-wrap;
}

pre code {
	background-color: #f9f9f9;
	border: none;
	font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
	font-size: 0.8em;
	line-height: 1em;
}

code {
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
}

#markdown-toc {
	background-color: #f9f9f9;
	font-size: 0.7em;
	font-style: normal;
}

ul li h2 a {
	color: #000000;
	&:hover,
	&:focus {
		color: #555555;
	}
}

ol li a {
	color: #1e6afe;
	&:hover,
	&:focus {
		color: #6297ff;
	}
}

ul li a {
	color: #1e6afe;
	&:hover,
	&:focus {
		color: #6297ff;
	}
}

ul#markdown-toc li a {
	color: #000000;
	&:hover,
	&:focus {
		color: #555555;
	}
}

p a {
	color: #1e6afe;
	&:hover,
	&:focus {
		color: #6297ff;
	}
}

.text-center {
	text-align:center property;
}

/*----------- Table Styles -----------*/

table {
	padding: 0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
  	margin-bottom: 20px;
}

table tr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
/*	background-color: #f8f8f8;*/
}

table tr th {
/*	font-weight: bold;*/
/*    border-top: 1px solid #cccccc;*/
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
/*		border: 1px solid #cccccc;*/
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}

.table-wrapper {
  overflow-x:auto;
}