/*- Custom style -*/

// -- Put custom style under this point -- //
pre {
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	padding: 1em;
	white-space: pre-wrap;
}

pre code {
	background-color: #f9f9f9;
	border: none;
	font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
	font-size: 0.8em;
	line-height: 1em;
}

code {
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
}

#markdown-toc {
	background-color: #f9f9f9;
	font-size: 0.7em;
	font-style: normal;
}

ul li h2 a {
	color: #000000;
	&:hover,
	&:focus {
		color: #555555;
	}
}

ul li a {
	color: #1e6afe;
	&:hover,
	&:focus {
		color: #6297ff;
	}
}

ul#markdown-toc li a {
	color: #000000;
	&:hover,
	&:focus {
		color: #555555;
	}
}

p a {
	color: #1e6afe;
	&:hover,
	&:focus {
		color: #6297ff;
	}
}

.text-center {
	text-align:center property;
}